DirectoryIndex index.php
RewriteEngine On

# Prevent directory listings
Options -Indexes

# If file or folder exists, serve directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything else to index.php relative to the current directory
RewriteRule ^ index.php [L]